Source: xfce4-appmenu-plugin
Section: xfce
Priority: optional
Maintainer: Aaron Lewis <the.warl0ck.1989@gmail.com>
XSBC-Original-Maintainer: Debian Xfce Maintainers <pkg-xfce-devel@lists.alioth.debian.org>
Uploaders: Yves-Alexis Perez <corsac@debian.org>, 
 Evgeni Golov <evgeni@debian.org>, Lionel Le Folgoc <mrpouit@gmail.com>
Build-Depends: debhelper (>= 7), libxfcegui4-dev, xfce4-panel-dev (>= 4.8.0),
 libindicator-dev (>=0.3.0), intltool, hardening-includes
Standards-Version: 3.9.2
Homepage: http://goodies.xfce.org/projects/panel-plugins/xfce4-appmenu-plugin/
Vcs-Svn: svn://svn.debian.org/pkg-xfce/goodies/trunk/xfce4-appmenu-plugin/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-xfce/goodies/trunk/xfce4-appmenu-plugin/

Package: xfce4-appmenu-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} indicator-appmenu
Provides: indicator-renderer
Recommends: indicator-messages-gtk2 appmenu-gtk3 appmenu-gtk2 appmenu-qt
Description: Support of appmenu in XFCE panel.

